.header {
  background-color: #fff;
  padding: 30px 0;
  z-index: 101;
}
.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}
.header__logo_img {
  margin-right: 12px;
  width: 60px;
  height: 60px;
}
.header__nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav ul li a {
  text-decoration: none;
  color: #ff9100;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  transition: 0.4s;
  white-space: nowrap;
}
.header__nav ul li {
  list-style: none;
  margin-right: 20px;
}
.header__nav ul li a:hover {
  color: #d56363;
  transition: 0.4s;
}
.header__nav_contact button {
  background-color: #ff9100;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  transition: 0.4s;
  border-radius: 12px;
}
.header__nav_contact button:hover {
  background-color: #d56363;
  transition: 0.4s;
}
.burger__menu {
  position: absolute;
  transform: translateY(-150vh);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
  transition: 0.5s;
}
.burger__menu.opened {
  transform: translateY(80px);
  transition: 0.5s;
}
.burger__menu a {
  text-decoration: none;
  margin: 30px 0;
}
.burger__menu a h2 {
  color: #ff9100;
  font-family: Roboto;
  font-size: 24px;
  text-align: center;
}
.burger__menu hr {
  color: #ff9100;
  width: 100%;
  height: 2px;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: #ff9e1f;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line.active {
  stroke: #d46363;
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
main {
  padding-top: 100px;
}
.hero {
  display: flex;
  background: #fff;
  margin-bottom: 170px;
}
.hero__content_subtitle {
  padding-top: 28px;
  color: #374b5c;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  max-width: 426px;
}
.hero__content_title {
  padding-top: 4px;
  color: #374b5c;
  font-family: Roboto Slab;
  font-size: 64px;
  font-weight: 700;
  max-width: 426px;
}
.hero__content_text {
  padding-top: 20px;
  max-width: 426px;
  color: #374b5c;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}
.hero__content_button {
  padding-top: 40px;
}
.hero__content_button button {
  padding: 10px 50px;
  text-decoration: none;
  color: #fffefc;
  background-color: #ff9100;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  transition: 0.4s;
  border-radius: 12px;
  border: none;
}
.hero__content_button button:hover {
  background-color: #d56363;
  transition: 0.4s;
}
.hero__container {
  background-image: url("/img/Rectangle 3.png");
  height: 387px;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  position: relative;
  border-radius: 30px;
}
.hero__container_gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, #00000000 25.53%, #d46363 96.89%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.hero__container_text {
  position: absolute;
  bottom: 20px;
  left: 38px;
  right: 38px;
}
.hero__container_text h4 {
  color: #fff;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
}
.hero__container_text p {
  padding: 6px 12px;
  color: #fffefc;
  background-color: #ff910099;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  transition: 0.4s;
  border-radius: 12px;
  width: fit-content;
  margin-bottom: 8px;
}
.hero__container_arrows {
  position: absolute;
  top: calc(50% - 32px);
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hero__container_arrows button {
  border: none;
  background-color: transparent;
}
.hero__container_dots {
  position: absolute;
  bottom: -46px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.hero__container_dots div {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #ff9100;
  transition: 0.4s;
  cursor: pointer;
  z-index: 1;
  margin: 0 8px;
}
.hero__container_dots .active {
  background-color: #d56363;
}
.projects {
  background-color: #fff;
  margin-bottom: 190px;
}
.projects__title {
  color: #ff9100;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  align-items: center;
}
.projects__title_line {
  width: 100%;
  height: 1px;
  background-color: #ff9100;
}
.projects__title h3 {
  margin: 0 20px;
  text-transform: uppercase;
  white-space: nowrap;
}
.projects__content p {
  color: #374b5c;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  margin-top: 24px;
}
.projects__content_cards {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  cursor: pointer;
}
.projects__content_cards div {
  width: 261px;
  height: 305px;
  background-color: #ff9100f5;
  border-radius: 24px;
  margin: 0 20px;
}
.projects__content_cards_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 12px;
  position: relative;
}
.projects__content_cards_item img {
  max-width: 140px;
  max-height: 140px;
}
.projects__content_cards_item h4 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  margin-top: 18px;
}
.projects__content_cards_item p {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
}
.projects__content_cards_item div {
  display: flex;
}
.projects__content_cards_item_arrow {
  height: 28px;
  width: 28px;
  cursor: pointer;
}
.projects__content_cards_item_arrow.left {
  position: absolute;
  top: 10px;
  left: 10px;
}
.projects__content_cards_item_arrow.right {
  position: absolute;
  top: 10px;
  right: 10px;
}
.projects__content_cards_other {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 12px;
}
.projects__content_cards_other.active {
  background-color: #d56363;
}
.projects__content_cards_other img {
  width: 48px;
  height: 48px;
}
.projects__content_cards_other h4 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  margin-top: 18px;
}
.projects__content_cards_other p {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  text-align: left;
}
.team {
  background-color: #ffa8000f;
  margin-bottom: 136px;
}
.team__title_line {
  width: 100%;
  height: 1px;
  background-color: #d46363;
}
.team__title h3 {
  margin: 0 20px;
  text-transform: uppercase;
  white-space: nowrap;
}
.team__title {
  color: #d46363;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  align-items: center;
}
.team__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}
.team__people {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team__people_item {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team__people_item img {
  width: 224px;
  height: 224px;
  margin: 0 40px;
  border-radius: 50%;
}
.team__people_item.active {
  background: url("/img/Ellipse 3.png");
  max-width: 224px;
  max-height: 224px;
  margin: 0 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.team__people_item.active div {
  width: 224px;
  height: 224px;
  border-radius: 50%;
  background-color: #d46363e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team__people_item.active div h4 {
  color: #fff;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  margin-top: 12px;
}
.team__people_item.active div h5 {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  margin-top: 4px;
}
.team__people_item.active div p {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  margin-top: 14px;
}
.team__content_dots {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 36px;
}
.team__content_dots div {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #c4c4c4;
  transition: 0.4s;
  cursor: pointer;
  z-index: 1;
  margin: 0 8px;
}
.team__content_dots .active {
  background-color: #d46363;
}
.team__content_button {
  display: flex;
  justify-content: center;
  margin-top: 66px;
}
.team__content_button button {
  width: 523px;
  height: 97px;
  border-radius: 14px;
  background: #ff9e1f;
  border: none;
  color: #fffdfd;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 900;
}
.partners {
  margin-bottom: 116px;
}
.partners h2 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
}
.partners__items {
  display: flex;
  margin-top: 42px;
}
.partners__item_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: Roboto;
  text-decoration: none;
}
.partners__item_logo_img {
  width: 60px;
  height: 60px;
  filter: grayscale(100%);
  transition: 0.4s;
  margin-right: 10px;
}
.partners__item_logo_img:hover {
  filter: grayscale(0%);
  transition: 0.4s;
}
footer {
  background-color: #ff9100e5;
  width: 100%;
  height: 345px;
}
.footer {
  color: #fff;
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  text-decoration: none;
  color: #fff;
  display: flex;
}
.footer__logo_img {
  width: 97px;
  height: 97px;
}
.footer__logo_text {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  margin-left: 12px;
}
.footer__nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
}
.footer__nav_one ul li a {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  text-decoration: none;
}
.footer__nav_one ul li {
  list-style: none;
  padding-bottom: 8px;
}
#news {
  font-weight: 700;
}
.footer__nav_two ul li a {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  text-decoration: none;
}
.footer__nav_two ul li {
  list-style: none;
  padding-bottom: 8px;
}
.footer__nav_three ul li a {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  text-decoration: none;
}
.footer__nav_three ul li {
  align-items: center;
  list-style: none;
  padding-bottom: 8px;
}
.footer__nav_three_img {
  padding-right: 10px;
  max-width: 40px;
  max-height: 40px;
}
.footer__nav_three a img {
  max-width: 46px;
  max-height: 46px;
}
.footer__nav_three_social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__nav_three_social a {
  text-decoration: none;
  padding: 0 16px;
}
@media screen and (max-width: 1399px) {
  .projects__content_cards_item img {
    max-width: 120px;
    max-height: 12+0px;
  }
  .projects__content_cards_item h4,
  .projects__content_cards_other h4 {
    font-size: 20px;
  }
  .projects__content_cards_item p,
  .projects__content_cards_other p {
    font-size: 16px;
  }
  .footer__nav_three ul li a {
    font-size: 22px;
  }
  .team__content_button button {
    width: 490px;
    height: 90px;
    font-size: 24px;
  }
}
@media screen and (max-width: 1199px) {
  .projects__content_cards_item img {
    max-width: 100px;
    max-height: 100px;
  }
  .projects__content_cards_item h4,
  .projects__content_cards_other h4 {
    font-size: 17px;
  }
  .projects__content_cards_item p,
  .projects__content_cards_other p {
    font-size: 15px;
  }
  .hero__container_text h4 {
    font-size: 22px;
  }
  .team__content svg {
    display: none;
  }
  .team__people_item.active div {
    background-color: #ffffff00;
  }
  .team__people_item.active div h4 {
    display: none;
  }
  .team__people_item.active div h5 {
    display: none;
  }
  .team__people_item.active div p {
    display: none;
  }
  .footer__nav_one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__nav_two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team__content_button button {
    width: 450px;
    height: 74px;
    font-size: 20px;
  }
}
@media screen and (max-width: 999px) {
  main {
    padding-top: 0;
  }
  .hero__content {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__content_subtitle {
    max-width: 100%;
    text-align: center;
  }
  .hero__content_title {
    max-width: 100%;
    text-align: center;
  }
  .hero__content_text {
    max-width: 100%;
    text-align: center;
  }
  .hero__container {
    margin-bottom: 50px;
  }
  .team__people_item img {
    max-width: 180px;
    max-height: 180px;
    margin: 0 30px;
  }
  .team__people_item.active div {
    max-width: 180px;
    max-height: 180px;
    margin: 0 30px;
  }
  .team__people_item.active {
    max-width: 180px;
    max-height: 180px;
    margin: 0 30px;
  }
  .partners__item_logo_img {
    filter: grayscale(0%);
  }
  .projects__content_cards_item h4,
  .projects__content_cards_other h4 {
    font-size: 22px;
  }
  .projects__content_cards_item p,
  .projects__content_cards_other p {
    font-size: 18px;
  }
  .projects__content_cards {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .partners__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .partners__items > div {
    margin-bottom: 20px;
  }
  .team__people_item img {
    max-width: 140px;
    max-height: 140px;
    margin: 0 24px;
  }
  .team__people_item.active div {
    max-width: 140px;
    max-height: 140px;
    margin: 0 24px;
  }
  .team__people_item.active {
    max-width: 140px;
    max-height: 140px;
    margin: 0 24px;
  }
  .footer {
    flex-direction: column;
  }
  .footer__nav_three_social {
    flex-direction: column;
  }
  .footer__nav_three_social a {
    padding-top: 16px;
  }
  .footer__nav_three_social hr {
    margin-top: 14px;
    color: #fff;
    width: 100%;
    height: 1px;
  }
  .team__content_button button {
    width: 300px;
    height: 40px;
    font-size: 18px;
  }
  .hero__content_subtitle {
    font-size: 32px;
  }
  .hero__content_title {
    font-size: 58px;
  }
  .projects__title h3 {
    font-size: 28px;
  }
  .team__title h3 {
    font-size: 28px;
  }
  .partners h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 575px) {
  .hero {
    padding: 0 10px;
  }
  .team__content_button button {
    width: 220px;
    height: 40px;
    font-size: 18px;
  }
  .team__people_item img {
    width: 98px;
    height: 98px;
    margin: 0 20px;
  }
  .team__people_item.active div {
    max-width: 98px;
    max-height: 98px;
    margin: 0 20px;
  }
  .team__people_item.active {
    max-width: 98px;
    max-height: 98px;
    margin: 0 20px;
  }
  .hero__content_subtitle {
    font-size: 28px;
  }
  .hero__content_title {
    font-size: 54px;
  }
  .projects__title h3 {
    font-size: 24px;
  }
  .team__title h3 {
    font-size: 24px;
  }
  .partners h2 {
    font-size: 24px;
  }
  .team__content_dots div {
    height: 14px;
    width: 14px;
    margin: 0 5px;
  }
  .hero__container_dots div {
    height: 14px;
    width: 14px;
    margin: 0 5px;
  }
}
@media screen and (max-width: 400px) {
  .team__people_item img {
    margin: 0 16px;
  }
  .team__people_item.active div {
    margin: 0 16px;
  }
  .team__people_item.active {
    margin: 0 16px;
  }
  .header__logo img {
    width: 44px;
    height: 44px;
  }
  .header__nav_contact button {
    font-size: 12px;
    padding: 6px 20px;
  }
  .hero__content_subtitle {
    font-size: 24px;
  }
  .hero__content_title {
    font-size: 48px;
  }
  .projects__title h3 {
    font-size: 18px;
  }
  .team__title h3 {
    font-size: 18px;
  }
  .partners h2 {
    font-size: 18px;
  }
  .team__content_dots div {
    height: 10px;
    width: 10px;
    margin: 0 4px;
  }
  .hero__container_dots div {
    height: 10px;
    width: 10px;
    margin: 0 4px;
  }
}
